@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #201b2c;
  font-family: 'Noto Sans', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 60px 15px 30px;
}

.paragraph > h1 {
  text-align: center;
  color: #00ff88;
}

.image {
  display: flex;
  justify-content: center;
}

.image > img {
  aspect-ratio: 1.333;
  width: 200px;
  margin: 2rem 0;
}

.form-login {
  width: 350px;
}

.card-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background: #2f2841;
  border-radius: 15px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
  color: #00ff88;
  font-weight: 800;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #faffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield label {
  color: #faffffde;
  margin-bottom: 10px;
}

.textfield input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase; /* Transformar todo o texto em maiúsculo */
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -15px #00ff8052;
}

@media (min-width: 768px) {
    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 200px
    }

    .paragraph h1 {
        text-align: left;
    }

    .image {
        display: flex;
        justify-content: flex-start;

        padding-left: 15px;
    }

    .image img {
        width: 450px;
    }

    .form-login {
        width: 500px;
    }
}